# Application Configuration
USERS_BE_APP_NAME=users-be
USERS_BE_APP_ENVIRONMENT=development
USERS_BE_APP_PORT=8080
USERS_BE_APP_LOG_LEVEL=info

# Database Configuration
USERS_BE_DATABASE_HOST=173.212.218.251
USERS_BE_DATABASE_PORT=30432
USERS_BE_DATABASE_USER=usersuser
USERS_BE_DATABASE_DATABASE=usersdb
USERS_BE_DATABASE_SSL_MODE=disable
USERS_BE_DATABASE_MAX_OPEN_CONNS=25
USERS_BE_DATABASE_MAX_IDLE_CONNS=5
USERS_BE_DATABASE_CONN_MAX_LIFETIME=30

# Database Password (fetch from K8s or set manually)
DB_PASSWORD=
POSTGRES_PASSWORD=

# Kafka Configuration
USERS_BE_KAFKA_BROKERS=173.212.218.251:31691
USERS_BE_KAFKA_SASL_USERNAME=admin-user
USERS_BE_KAFKA_SASL_MECHANISM=SCRAM-SHA-512
USERS_BE_KAFKA_SECURITY_PROTOCOL=SASL_SSL
USERS_BE_KAFKA_SKIP_VERIFY=true
USERS_BE_KAFKA_CONSUMER_GROUP=users-be-group
USERS_BE_KAFKA_KEYCLOAK_EVENTS_TOPIC=keycloak-events
USERS_BE_KAFKA_USER_EVENTS_TOPIC=user-events

# Kafka Password (fetch from K8s or set manually)
KAFKA_USERNAME=admin-user
KAFKA_PASSWORD=

# Keycloak Configuration
# USERS_BE_KEYCLOAK_URL=http://173.212.218.251:30080
USERS_BE_KEYCLOAK_URL=https://keycloak.skillsier.com
USERS_BE_KEYCLOAK_REALM=skillsier

# Keycloak Credentials (fetch from K8s or set manually)
KEYCLOAK_CLIENT_ID=users-be
KEYCLOAK_CLIENT_SECRET=xwzWhD2fTnY8aApe48u0S0dCiVHHvs5E

# Dapr Configuration
USERS_BE_DAPR_ENABLED=true
USERS_BE_DAPR_HTTP_PORT=3500
USERS_BE_DAPR_GRPC_PORT=50001
USERS_BE_DAPR_PUBSUB_NAME=kafka-pubsub
USERS_BE_DAPR_STATE_STORE_NAME=statestore